nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

nav span {
    font-weight: 700;
    font-size: 25px;
}

nav button {
    background-color: rgb(109, 109, 255);
    color: white;
    padding: .5rem 1rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: 0.5s;
}

nav button:hover {
    background-color: black;
}